<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>INSPINIA | Chat view</title>

  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="../css/plugins/slick/slick.css" rel="stylesheet">
  <link href="../css/plugins/slick/slick-theme.css" rel="stylesheet">

  <!-- Toastr style -->
  <link href="../css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <link href="../css/animate.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>
  <div id="wrapper">
    <div class="gray-bg">
      <!-- <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Transcript Viewer</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/overview">Overview </a>
                </li>
                <li>
                    <a href="/sessiontable">Session Table</a>
                </li>
                <li class="active">
                    <strong>Transcript</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div> -->
      <br>
      <div class="row">
        <button class="btn btn-default center-block" id="button">Export as CSV</button>
      </div>
      <br>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12 ">
            <div class="chat-discussion">
              <div class="wrapper wrapper-content animated fadeInRight" ng-app="app" ng-controller="SessionTranscript">
                <div ng-repeat="item in data.messages">
                  <div ng-switch="item.message_type">
                    <div ng-switch-when="IN">
                      <div class="chat-message left col-md-6">
                        <img class="message-avatar" ng-src="{{item.user_profile_img}}" alt="">
                        <div class="message">
                          <a class="message-author" href="#"> {{item.user_name}} </a>
                          <span class="message-date"> {{item.timestamp}} </span>
                          <span class="message-content"> {{item.message_chat}} </span>
                        </div>
                      </div>
                    </div>
                    <div ng-switch-default>
                      <div class="chat-message right col-md-offset-6 col-md-6">
                        <img class="message-avatar" src="../img/comcast.PNG" alt="">
                        <!-- <img class="message-avatar" ng-src= "{{image}}" alt="" > -->
                        <div class="message">
                          <a class="message-author" href="#"> Comcast_Bot</a>
                          <!-- <a class="message-author" href="#"> {{name}} </a> -->

                          <span class="message-date"> {{item.timestamp}} </span>
                          <span class="message-content"> {{item.message_chat}} </span>
                          <!-- <div ng-repeat="products in item.product_response_list|limitTo:1"> -->
                          <slick dots="true" infinite="false" speed="300" slides-to-show="3" touch-move="false" slides-to-scroll="1">
                            <div ng-repeat="products in item.product_response_list">
                              <div class="ibox">
                                <div class="ibox-content product-box">
                                  <div class="product-imitation">
                                    <img style="height:100%;width:100%;" src="{{products.image}}" alt="{{products.productname}}">
                                  </div>
                                  <div class="product-desc">
                                    <a target="_blank" href="{{products.product_url}}" class="product-name">{{products.productname}}</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </slick>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ibox chat-view">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/app.js"></script>
<!-- <script src="../js/plugins/slick/slick.min.js"></script> -->

<!-- For Slick Carousel -->
<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
<script src="../plugins/bower_components/jquery/jquery.js"></script>
<!-- <script src="../plugins/bower_components/angular/angular.js"></script> -->
<script src="../plugins/bower_components/slick-carousel/slick/slick.js"></script>
<script src="../plugins/bower_components/angular-slick/dist/slick.js"></script>
<script>
  $(document).ready(function() {
    $('#button').click(function(event) {
      var d = $('[ng-controller="SessionTranscript"]').scope();
      var content = '',
        flag = true;
      for (var i in d.data.messages) {
        var line = '',
          delim = '',
          header = '';
        for (var j in d.data.messages[i]) {
          if (flag) {
            header = header + delim + "\"" + j + "\"";
          }
          line = line + delim + "\"" + d.data.messages[i][j] + "\"";
          delim = ',';
        }
        if (flag) {
          content = content + header + "\n";
          flag = false;
        }
        content = content + line + "\n";
      }
      var filename = d.message + "_" + d.session_id + ".csv";
      var blob = new Blob([content], {
        type: 'text/csv;charset=utf-8;'
      });
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename);
      } else {
        var link = document.createElement("a");
        if (link.download !== undefined) {
          // Feature detection
          // Browsers that support HTML5 download attribute
          var url = URL.createObjectURL(blob);
          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = 'hidden';
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    });
  });
</script>

<!-- <script>
        $(document).ready(function(){

            $('.slick_demo_2').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

            $('.slick_demo_3').slick({
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                adaptiveHeight: true
            });
        });
    </script> -->

</body>

</html>
