<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashbot Analytics</title>

  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../css/plugins/chartist/chartist.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/animate.css" rel="stylesheet">
  <link href="../css/loader.css" rel="stylesheet">
  <link href="../css/tabDisplay.css" rel="stylesheet">
  <link href="../css/genderfilter.css" rel="stylesheet">
  <link href="../css/datatip.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
  <style>
    thead th {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      min-width: 150px;
    }

    tbody td {
      min-width: 150px;
    }

    a {
      color: #337ab7;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <div class="gray-bg">
      <!-- <div class="row wrapper border-bottom white-bg page-heading">
        <div class="pull-left col-md-3 col-sm-8">
          <h2>Message Funnel</h2>
          <ol class="breadcrumb">
            <li>
              <a href="/top-messages">Top Messages </a>
            </li>
            <li class="active">
              <strong>Message Funnel</strong>
            </li>
          </ol>
        </div>
      </div> -->
      <div class="wrapper wrapper-content">
        <div class="row" ng-app="app" ng-controller="messageFunnel">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="white-box">
              <h3 class="box-title">Prior</h3>
              <div class="comment-center">
                <div class="comment-body b-none" ng-repeat="item in data.messages[0].prevArray">
                  <div class="mail-contnet">
                    <span class="time">{{item.count}}</span>
                    <a href="/messagefunnel?msgChat={{item.chat}}" target="_blank"><i class="fa fa-external-link fa-pull-right" aria-hidden="true" style = "font-size:15px;"></i></a>
                    <br/>
                    <p>{{item.chat}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="white-box">
              <h3 class="box-title">Current Message</h3>
              <div class="comment-center">
                <div class="comment-body b-none" ng-repeat="item in data.messages[2].currMsg">
                  <div class="mail-contnet">
                    <span class="time">{{item.count}}</span>
                    <br/>
                    <p>{{item.chat}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="white-box">
              <h3 class="box-title">Next</h3>
              <div class="comment-center">
                <div class="comment-body b-none" ng-repeat="item in data.messages[1].nextArray">
                  <div class="mail-contnet">
                    <span class="time">{{item.count}}</span>
                    <a href="/messagefunnel?msgChat={{item.chat}}" target="_blank"><i class="fa fa-external-link fa-pull-right" aria-hidden="true" style = "font-size:15px;"></i></a>
                    <br/>
                    <p>{{item.chat}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="footer">
        <div class="pull-right">

        </div>
        <div>

        </div>
      </div> -->
    </div>
  </div>

  <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Menu Plugin JavaScript -->
  <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
  <!--slimscroll JavaScript -->
  <script src="../js/jquery.slimscroll.js"></script>
  <!-- JS Libraries for User Table -->
  <!-- Custom Theme JavaScript -->
  <script src="../js/custom.min.js"></script>
  <!--<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="../js/dateRange.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/tether.min.js"></script>

  <!-- For Slick Carousel -->
  <script src="../plugins/bower_components/jquery/jquery.js"></script>
  <!-- <script src="../plugins/bower_components/angular/angular.js"></script> -->
  <script src="../plugins/bower_components/slick-carousel/slick/slick.js"></script>
  <script src="../plugins/bower_components/angular-slick/dist/slick.js"></script>
</body>

</html>
